<nav class="subnav">
  <ul>
    <li><a href="">Список новостей</a>
    <li><%= link_to 'Статичные страницы', list_pages_path %>
    <li><a href="">Отзывы посетителей</a>
  </ul>

</nav>
<div class="container798">


  <h1>Главная</h1>


</div>