<nav class="subnav">
  <ul>

    <% neighbors.each do |item| %>
      <% if item.id == current_page.id %>
        <li class="active"><%= link_to item.name, item.permalink  %></li>
      <% else %>
        <li><%= link_to item.name, item.permalink  %></li>
      <% end %>
    <% end %>
  </ul>
</nav>

