
<%= render partial: 'pages/page_partials/left_menu', locals: {neighors: @page.siblings, current_page: @page } %>

<div class="container798">
  <%= render partial: 'pages/page_partials/bread', locals: {p_id: @page } %>
  <div class="badge">100% гарантия результата</div>
  <%= @page.content.html_safe() %>
</div>