<h1>Редактирование новости</h1>

<%= render partial: 'admin/left_menu' %>
<div class="container798">

  <div class="breadcrumbs"><%= link_to 'Список новостей', list_news_items_path %></div>

  <h1>Новая новость</h1>

  <%= render :partial => 'form' %>

</div>