<h1>Редактирование страницы</h1>

<nav class="subnav">
  <ul>
    <li><%= link_to 'Список новостей', list_news_items_path %>
    <li><%= link_to 'Статичные страницы', list_pages_path %>
    <li><a href="">Отзывы посетителей</a>
  </ul>

</nav>
<div class="container798">

  <div class="breadcrumbs"><%= link_to 'Список новостей', list_news_items_path %></div>

  <h1>Новая новость</h1>

  <%= render :partial => 'form' %>

</div>