<div class="container798">
  <div class="breadcrumbs"><a href="">Юридические услуги</a></div>

  <div class="badge">100% гарантия результата</div>

  <h1><%= @news_item.title.html_safe %></h1>

  <%= @news_item.body.html_safe %>

</div>