<h1>Редактирование изображения</h1>

<%= render partial: 'admin/left_menu' %>
<div class="container798">

  <div class="breadcrumbs"><%= link_to 'Изображения', images_path %></div>

  <h1>Новое изображение</h1>

  <%= render :partial => 'form' %>

</div>