<nav class="mainav">
    <ul>
        <li class="parent">
            <%= link_to Page.find_by_id(1).name, root_path  %>
            <ul class="submenu">
                <% Page.find_by_id(1).children.each do |page_item| %>
                    <li><%= link_to page_item.name, page_item.permalink  %></li>
                <% end %>
            </ul>
        </li>
        <li class="parent">
            <%= link_to Page.find_by_id(2).name, root_path  %>
            <ul class="submenu">
                <% Page.find_by_id(2).children.each do |page_item| %>
                    <li><%= link_to page_item.name, page_item.permalink  %></li>
                <% end %>
            </ul>            
        </li>


        <li><a href="#">Оценка</a></li>
        <li><a href="#">О компании</a></li>
    </ul>
</nav>